/* Background gradient for all pages */
body {
  /* background: rgb(255, 255, 255); */
  /* background: #330000; */
  background: linear-gradient(90deg, #ffff, #dddd 40%, #ccc3 100%);
  background-size: 100%;
}

.card {
  transition-property: background-color;
  transition-duration: 0.5s;
  background-color: snow;
}

.card:hover {
  background-color: #f6f6ff;
}

#playing-card {
  width: 80%;
  border: 3px solid rebeccapurple;
  border-radius: 5%;
  margin: 20px 0 0 0;
}

#history .active,
.btn {
  font-weight: bold;
  background-color: rebeccapurple;
}
