h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: red;
}

ul {
  /* display as a card */
  width: 40%;
}

li {
  /* display as alternating colored stripes */
  width: 90%;
  margin: 20px 0;
}

fieldset {
  width: 30%;
  margin-top: 20px;
}

fieldset input {
  width: 70%;
}