.App {
  font-family: 'Segoe UI', Helvetica, Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.table-display {
  width: 90%;
  margin: 0 auto;
}

.form-display {
  width: 80%;
  margin: 0 auto;
}

.page-header, 
.admin-panel,
.confirm-delete {
  display: flex;
}

.page-header {
  width: 100%;
}

.admin-panel {
  width: 60%;
  margin-bottom: 2%;
}

.confirm-delete {
  /* visibility: hidden; */
  display: none;
}

.page-btn, .panel-btn {
  margin: auto;
  /* padding: 12px; */
  /* flex: 1; */
}

.admin-panel h3 {
  width: 30%;
}
