.App {
  font-family: 'Segoe UI', Helvetica, Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.table-display {
  width: 90%;
  margin: 0 auto;
}

.page-header {
  display: flex;
}

.page-btn {
  margin: auto;
  /* padding: 12px; */
  /* flex: 1; */
}